#root {
  font-family: 'Salsa';
  max-width: 500px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  padding: 2rem;
}

body {
  margin: 0;
}

ul,
ol {
  list-style-type: none;
  padding-left: 0;
  margin: 0;
}

h1,
h2,
h3,
p {
  margin: 0;
}

table,
tr,
th,
td {
  border-spacing: 0;
}
